* {
    background-color: #181c18;
}

html {
    font-size: 10px;
}

h4, h3, h2, h1, p, div {
    color: #3f633f;
}

a {
    text-decoration: none;
}

.container {
    display: block;
}

#side__bar {
    display: block;
}

.menu__bar {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.menu__bar--link {
    color: #497449;
}

.menu__bar--link:hover {
    color: #7fb37f;
}

.btn__container {
    
}

/* PROJECT PAGE CSS */
.projects_section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.projects {
    width: 80%;
    height: 20%;
    border: .1rem lightgreen solid;
    background-color: rgb(200, 238, 200);
    box-shadow: .5rem .5rem 1.5rem rgb(132, 146, 132);
    margin-bottom: 1rem;
    margin-top: 1rem;
    border-radius: .2rem;
    padding: .5rem 1rem;
}

.project__link {
    background-color: rgb(200, 238, 200);
}

.project__title > h2 {
    color: white;
    background-color: rgb(200, 238, 200);
}

.project__title:hover {
    color: #7fb37f;
}

.project__date {

}

.project__content {
    background-color: inherit;
}