{% extends base_template %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'projects/projects_index.css' %}">

{% block block_content %}
<section class="projects_section">
	<h1 class="section__titles">Projects</h1>
	{% for project in projects %}
	<div class="projects">
		<a class="project__link" href="{% url 'project_detail' project.pk %}">
			<div class="project__title">
				<h2>{{ project.title }}</h2>
			</div>
			<div class="project__date"></div>
			<div class="project__content">
				{{ project.description|safe | slice:":200" }}..
			</div>
			<div class="btn__container"></div>
		</a>
	</div>
	{% endfor %}
</section>
{% endblock %}
