{% extends base_template %}

{% block block_content %}
<section class="project_section">
    <div class="project">
        <div class="project__title">
            {{ project.title }}
        </div>
        <div class="project__date">
            <!-- {{ project.createdOn.date }}| &nbsp; -->
        </div>
        <div class="project__content">
            {{ project.description|safe }}
        </div>
        <div class="project__repo">
            {{ project.repoLink}}
        </div>
    </div>
</section>
{% endblock %}