{% extends base_template %}

{% block block_content %}
<section class="projects_section">
    <div class="project">
        <div class="project__title">
            <h2>{{ project.title }}</h2>
        </div>
        <div class="project__date">
            <!-- {{ project.createdOn }} -->
        </div>
        <div class="project__content">
            {{ project.description|safe }}
        </div>
        <div class="project__repo">
            {{ project.repoLink}}
        </div>
    </div>
</section>
{% endblock %}