{% load static %}
{% load compress %}

<html lang="en">
<head>
    <title>{% block title %}rphillips{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
</head>

<body>
    <div class="container">
        <div class="side__bar">
            {% block sidebar %}
            <!-- <ul class="menu__bar">
                <li><a class="menu__bar--link" href="/">Home</a></li>
                <li><a class="menu__bar--link" href="/blog/">Blog</a></li>
                <li><a class="menu__bar--link" href="/projects/">Projects</a></li>
                <li><a class="menu__bar--link" href="/resume/">Resume</a></li>
                <li><a class="menu__bar--link" href="/contact_me/">Contact Me</a></li>
            </ul> -->
            {% endblock %}
        </div>
    </div>
    <div id="content">
        {% block block_content %}
        {% endblock %}
    </div>
</body>
<footer>
    <!-- footer with links to linkedin, github, etc. -->
    <div class="connect_links">
        linkedin
        github
        gmail
        etc.
    </div>
    <div class="email">
        <a href="rebecca@rphillips.co">Connect With Me!</a>
    </div>
</footer>
</html>
