{% extends base_template %}

{% block block_content %}
<section class="resume_section">
    <div class="resume">
		<div class="contact__section">
			<ul class="contact__info">
				<li><span class="icon"></span>rebecca@rphillips.co</li>
				<li><span class="icon"></span>Amsterdam, NY</li>
				<li><span class="icon"></span>linkedin.com/in/rrphillips</li>
			</ul>
		</div>
		<div class="languages__section">
			Python, R, Java, Php, Javascript, JQuery, C, SQL, HTML, CSS
		</div>
		<div class="tools__section">
			JIRA, Trello, Visual Studio Code, Vim, RStudio, Filezilla, MySQL Workbench, Plesk, Command Line/Prompt, Bitbucket, Github, Slack
		</div>
		<div class="skills__section">
			Git, Algorithms, Machine Learning, Data Mining, Django Web Framework, Angular.js, Ionic Framework, CRMs, Agile Methodologies, Scrum, Xtreme Programming Practices
		</div>
		<div class="operating__systems">
			Linux, iOS, Windows
		</div>
		<div class="resume__work">
			{% for job in jobs %}
				<h2 class="resume__title">{{ job.title }}</h2>
				<h3 class="resume__company">{{ job.company }} <span class="resume__loc">{{ job.location }}</span></h3>
				<p class="resume__time">{{ job.start }} - {% if job.end %} {{ job.end }} {% else %} Current {% endif %}</p>
				<p class="resume__desc">{{ job.description|safe }}</p>
			{% endfor %}
		</div>
		<div class="resume__education">
			{% for educate in educations %}
				<h2 class="resume__degree">{{ educate.degree }}</h2>
				<h3 class="resume__insitute">{{ educate.institution }}</h3>
				<p class="resume__time">{{ educate.start }}{% if educate.end %}{{ educate.end }}{% else %} Current {% endif %}
			{% endfor %}
		</div>
	</div>
</section>
{% endblock %}
