{% extends base_template %}

{% block block_content %}
<section class="blog_section">
    <div class="post">
        <div class="post__title">
            Test
        </div>
        <div class="post__date">
            10/11/12
        </div>
        <div class="post__content">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga vel molestiae, officia necessitatibus voluptatum voluptas consectetur eaque nulla, dolores commodi autem asperiores maiores? Suscipit numquam similique aut perspiciatis accusantium dolor.
        </div>
    </div>
</section>
{% endblock %}