{% extends base_template %}

{% block block_content %}
<section class="blog_section">
    {% for post in posts %}
    <a href="{% url 'blog_detail' post.pk %}">
        <div class="post">
            <div class="post__title">
                {{ post.title }}
            </div>
            <div class="post__date">
                {{ post.createdOn.date }}| &nbsp;
            </div>
            <div class="post__content">
                {{ post.content|safe | slice:":200"}}
            </div>
        </div>
    </a>
    {% endfor %}
</section>
{% endblock %}